.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  .slider-container {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    transition: all 500ms linear;
    .slide {
      width: 100vw;
      height: 100vh;

      img {
        width: 100vw;
        height: 100vh;
      }
    }
  }
  .fa.fa-chevron-left,
  .fa.fa-chevron-right {
    color: #fff;
    z-index: 999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 30px;
  }
  .fa.fa-chevron-left {
    left: 5%;
  }
  .fa.fa-chevron-right {
    right: 5%;
  }
}
